body { background-color: #edf0f5; color: grey }

h1, label { color: black; font-family: "Freight Sans Bold", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif; }

#flutag { color: grey; font-family: "Freight Sans", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif; 
          font-weight: 3px; }

textarea, input { background-color: white;  color: grey; font-family: "Freight Sans", "Lucida Grande", Tahoma, 
                  Verdana, Arial, sans-serif; }

#sbutton { color: white;  font-size: 24px; background-color: #659d50; padding: 15px; font-family: "Freight Sans Bold", 
           "Lucida Grande", Tahoma, Verdana, Arial, sans-serif; }