body { background-color: #edf0f5; color: grey }

h1, label { color: grey; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

#flutag { color: grey; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
          Geneva, Verdana, sans-serif; font-weight: 3px; }

textarea, input { background-color: white;  color: grey; font-family: 'Lucida Sans', 'Lucida Sans Regular', 
                  'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

#sbutton { color: #659d50;  font-size: 24px; border: 2px solid white; padding: 15px; font-family: 'Lucida Grande', 
           'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }