h1 { background-color: #F0F0F0;
     color: #A4A400;
     font-family: 'Lucida Sans Unicode', Helvetica, Arial;
     size: 22pt; }

h2, h3, h4, h5, h6 { background-color: #F0F0F0;
     color: #A4A400;
     font-family: 'Lucida Sans Unicode', Helvetica, Arial; }

body { background-color: white; 
    color: #404040;}                        